
html *{
  font-size: 35px !important;
  margin: 2px;
}

@media only screen and (min-width: 600px) {
  body {
    margin-right:200px;
    margin-left:200px;
    margin-top: 0;
  }
}
.flex{
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


.button-red {
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color:#d0451b;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
  text-align:center;
}
.button-red:hover {
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color:#bc3315;
}
.button-red:active {
  position:relative;
  top:1px;
}


.button {
  box-shadow:inset 0px 1px 0px 0px #CCCCCC;
  background:linear-gradient(to bottom, #AAAAAA 5%, #999999 100%);
  background-color:#777777;
  border-radius:3px;
  border:1px solid #888888;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}

.button:hover {
  background:linear-gradient(to bottom, #999999 5%, #AAAAAA 100%);
  background-color:#777777;
}
.button:active {
  position:relative;
  top:1px;
}

.button-blue {
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.button-blue:hover {
  background:linear-gradient(to bottom, #51A9EE 5%, #147BCD 100%);
  background-color:#006DBC;
}
.button-blue:active {
  position:relative;
  top:1px;
}

.button-green {
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color:#74ad5a;
  border:1px solid #3b6e22;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #858585;
  text-align:center;
}
.button-green:hover {
  background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color:#68a54b;
}
.button-green:active {
  position:relative;
  top:1px;
}

